<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar-links-wrapper d-flex align-items-stretch" th:fragment="_navbar2">
  <div class="nav-link">
    <a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
  </div>
  <div class="nav-link">
    <a href="javascript:;"><i class="typcn typcn-mail"></i></a>
  </div>
  <div class="nav-link">
    <a href="javascript:;"><i class="typcn typcn-folder"></i></a>
  </div>
  <div class="nav-link">
    <a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
  </div>
</div>
</body>
</html>